/Core/obj
/Core/bin
/WebApi/obj
/WebApi/bin
/GameDemo/obj
/GameDemo/bin
/Core/obj
/WebApi/obj
/Core/obj
WebApi/bin
WebApi/obj
GameDemo/bin
GameDemo/obj
Core/bin
Core/obj
.vs
.idea
QQRobot/bin
QQRobot/obj
